@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* @font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-Bold.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-BoldItalic.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-ExtraBold.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-ExtraBoldItalic.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-Italic.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-Light.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-LightItalic.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-Regular.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-SemiBold.ttf)
}

@font-face {
  font-family: 'OpensSans';
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf)
} */
